@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="ru">
<head>
    <base href="/">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta name="cmsmagazine" content="f2d72d3408f63252b7c735ac5b026ced">
    <link rel="shortcut icon" type="image/x-icon" href="~/img/favicon.ico">
    <link rel="stylesheet" href="~/front.min.css">
    <title>505</title>
</head>
<body>
<div class="l-error-page">
    <div class="b-error-page">
        <div class="b-accent-block"></div>
        <div class="l-container b-error-page__wrap">
            <div class="b-error-page__inner">
                <div class="b-error-page__img">
                    <img src="/img/500.png">
                </div>
                <div class="b-error-page__text-block">
                    <div>ошибка</div>
                    <div class="b-error-page__num">500</div>
                    <div class="b-error-page__ttl">упс, вы ничего не видели</div>
                    <a href="/" class="b-error-page__link">на главную</a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>