<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>@ViewBag.Title</title>
    <meta name="description" content="blog">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="/img/favicon.ico">
    <link rel="stylesheet subresource" href="~/css/admin/bootstrap-reboot.min.css" />
    <link rel="stylesheet subresource" href="~/css/admin/bootstrap-grid.min.css" />
    <link rel="stylesheet subresource" href="~/css/admin/bootstrap.min.css" />
    <link rel="stylesheet subresource" href="~/css/admin/animate.min.css" />
    <link rel="stylesheet subresource" href="~/css/admin/font-awesome.min.css" />
    <link rel="stylesheet subresource" href="~/css/admin/metisMenu.min.css" />
    <link rel="stylesheet subresource" href="~/css/admin/selectize.css" />
    <link rel="stylesheet subresource" href="~/css/admin/prism.vs.css" />
    <link rel="stylesheet subresource" href="~/css/admin/app.css" />
    <link rel="stylesheet subresource" href="~/css/admin/admin.custom.css" />
</head>
<body>
    <div class="main-wrapper">
        <div class="app" id="app">
            <header class="header">
                <div class="header-block header-block-collapse hidden-lg-up">
                    <button class="collapse-btn" id="sidebar-collapse-btn">
                        <i class="fa fa-bars"></i>
                    </button>
                </div>
                <div class="header-block header-block-buttons">
                    @RenderSection("headerMenu", false)
                </div>
                <div class="header-block header-block-nav">
                    <ul class="nav-profile">
                        <li class="profile dropdown">
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                                <div class="img" style="background-image: url('https://avatars1.githubusercontent.com/u/3630963?v=3&s=40')"> </div>
                                <span class="name">
                                    d2funlife
                                </span>
                            </a>
                            <div class="dropdown-menu profile-dropdown-menu" aria-labelledby="dropdownMenu1">
                                <form asp-area="" asp-controller="Account" asp-action="LogOff" method="post" id="logoutForm" class="navbar-right">
                                    <button type="submit" class="dropdown-item btn btn-link ">Logout</button>
                                </form>
                            </div>
                        </li>
                    </ul>
                </div>
            </header>
            <aside class="sidebar">
                <div class="sidebar-container">
                    <div class="sidebar-header">
                        <div class="brand">
                            <a href="/" target="_blank">
                                <img src="~/img/favicons/32x32.png" width="auto" /> d2funlife
                            </a>
                        </div>
                    </div>
                    @await Component.InvokeAsync("MainMenu")
                </div>
            </aside>
            <div class="sidebar-overlay" id="sidebar-overlay"></div>
            @RenderBody()
            <!-- modal-dialog -->
            <div class="modal fade in" id="confirm-modal" tabindex="-1">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                            <h4 class="modal-title"><i class="fa fa-warning"></i> Alert</h4>
                        </div>
                        <div class="modal-body">
                            <p>Are you sure want to do this?</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" data-dismiss="modal">Yes</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /modal-dialog -->
        </div>
    </div>
    <!-- Reference block for JS -->
    <div class="ref" id="ref">
        <div class="color-primary"></div>
        <div class="chart">
            <div class="color-primary"></div>
            <div class="color-secondary"></div>
        </div>
    </div>
    <script rel="subresource" src="~/js/admin/jquery.min.js"></script>
    <script rel="subresource" src="~/js/admin/tether.min.js"></script>
    <script rel="subresource" src="~/js/admin/bootstrap.min.js"></script>
    <script rel="subresource" src="~/js/admin/bootstrap-toolkit.min.js"></script>
    <script rel="subresource" src="~/js/admin/jquery.validate.min.js"></script>
    <script rel="subresource" src="~/js/admin/jquery.validate.unobtrusive.js"></script>
    <script rel="subresource" src="~/js/admin/metisMenu.min.js"></script>
    <script rel="subresource" src="~/js/admin/nprogress.js"></script>
    <script rel="subresource" src="~/js/admin/Sortable.min.js"></script>
    <script rel="subresource" src="~/js/admin/microplugin.js"></script>
    <script rel="subresource" src="~/js/admin/sifter.min.js"></script>
    <script rel="subresource" src="~/js/admin/selectize.min.js"></script>
    <script rel="subresource" src="~/js/admin/prism.min.js"></script>
    <script rel="subresource" src="~/js/admin/app.js"></script>
    @RenderSection("additionalScripts", false)
</body>
</html>